@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}
.twitter-picker {
  width: 24rem !important;
  height: 6rem !important;
  border-radius: 0px !important;
}
